<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    <sessionState timeout="60"></sessionState>
      <customErrors mode="Off"/>
    </system.web>
  <appSettings >

    <add key ="connection" value="Data Source=LAPTOP-NBPF02SN;Initial Catalog=OnlineExam;Integrated Security=true"/>
    <!--<add key ="connection" value="Data Source=SQL5019.myASP.NET;Initial Catalog=DB_9E56D6_oexam;User Id=DB_9E56D6_oexam_admin;Password=qwerty123;"/>-->
    
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
